## Energy saved from recycling
<p>Did you know that recycling saves energy by reducing or eliminating the need to make materials from scratch? For example, aluminum can manufacturers can skip the energy-costly process of producing aluminum from ore by cleaning and melting recycled cans. Aluminum is classified as a non-ferrous metal.</p>
<p>Singapore has an ambitious goal of becoming a zero-waste nation. The amount of waste disposed of in Singapore has increased seven-fold over the last 40 years. At this rate, Semakau Landfill, Singaporeâ€™s only landfill, will run out of space by 2035. Making matters worse, Singapore has limited land for building new incineration plants or landfills.</p>
<p>The government would like to motivate citizens by sharing the total energy that the combined recycling efforts have saved every year. They have asked you to help them.</p>
<p>You have been provided with three datasets. The data come from different teams, so the names of waste types may differ.</p>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6;">
    <div style="font-size:16px"><b>datasets/wastestats.csv - Recycling statistics per waste type for the period 2003 to 2017</b>
    </div>
    <div>Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>waste_type: </b>The type of waste recycled.</li>
    <li><b>waste_disposed_of_tonne: </b>The amount of waste that could not be recycled (in metric tonnes).</li>
    <li><b>total_waste_recycle_tonne: </b>The amount of waste that could be recycled (in metric tonnes).</li>
    <li><b>total_waste_generated: </b>The total amount of waste collected before recycling (in metric tonnes).</li>
    <li><b>recycling_rate: </b>The amount of waste recycled per tonne of waste generated.</li>
    <li><b>year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/2018_2019_waste.csv - Recycling statistics per waste type for the period 2018 to 2019</b>
    </div>
    <div> Source: <a href="https://www.nea.gov.sg/our-services/waste-management/waste-statistics-and-overall-recycling">Singapore National Environment Agency</a></div>
<ul>
    <li><b>Waste Type: </b>The type of waste recycled.</li>
    <li><b>Total Generated: </b>The total amount of waste collected before recycling (in thousands of metric tonnes).</li> 
    <li><b>Total Recycled: </b>The amount of waste that could be recycled. (in thousands of metric tonnes).</li>
    <li><b>Year: </b>The recycling year.</li>
</ul>
    </div>
<div style="background-color: #efebe4; color: #05192d; text-align:left; vertical-align: middle; padding: 15px 25px 15px 25px; line-height: 1.6; margin-top: 17px;">
    <div style="font-size:16px"><b>datasets/energy_saved.csv -  Estimations of the amount of energy saved per waste type in kWh</b>
    </div>
<ul>
    <li><b>material: </b>The type of waste recycled.</li>
    <li><b>energy_saved: </b>An estimate of the energy saved (in kiloWatt hour) by recycling a metric tonne of waste.</li> 
    <li><b>crude_oil_saved: </b>An estimate of the number of barrels of oil saved by recycling a metric tonne of waste.</li>
</ul>

</div>
<pre><code>
</code></pre>

In [1]:
# Use this cell to begin your analysis, and add as many as you would like!
import pandas as pd

# Recycling statistics per waste type for the period 2003 to 2017

In [2]:
df1 = pd.read_csv('datasets/wastestats.csv')
df1.head()

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
0,Food,679900,111100.0,791000,0.14,2016
1,Paper/Cardboard,576000,607100.0,1183100,0.51,2016
2,Plastics,762700,59500.0,822200,0.07,2016
3,C&D,9700,1585700.0,1595400,0.99,2016
4,Horticultural waste,111500,209000.0,320500,0.65,2016

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 225 entries, 0 to 224
Data columns (total 6 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   waste_type                   225 non-null    object
 1   waste_disposed_of_tonne      225 non-null    int64
 2   total_waste_recycled_tonne   225 non-null    float64
 3   total_waste_generated_tonne  225 non-null    int64
 4   recycling_rate               225 non-null    float64
 5   year                         225 non-null    int64
dtypes: float64(2), int64(3), object(1)
memory usage: 10.7+ KB

- There are not missing values

In [4]:
df1['year'].unique()

array([2016, 2015, 2014, 2013, 2012, 2011, 2010, 2009, 2008, 2007, 2006,
       2005, 2004, 2003, 2017], dtype=int64)

In [5]:
df1['waste_type'].unique()

array(['Food', 'Paper/Cardboard', 'Plastics', 'C&D',
       'Horticultural waste', 'Wood', 'Ferrous metal',
       'Non-ferrous metal', 'Used slag', 'Ash & Sludge', 'Glass',
       'Textile/Leather', 'Scrap tyres',
       'Others (stones, ceramics & rubber etc.)', 'Total',
       'Others (stones, ceramics & rubber etc)', 'Food waste',
       'Construction Debris', 'Wood/Timber', 'Horticultural Waste',
       'Ferrous Metal', 'Non-ferrous Metals', 'Used Slag', 'Sludge',
       'Scrap Tyres', 'Ferrous Metals', 'Others', 'Construction debris',
       'Non-ferrous metals', 'Ash and sludge', 'Plastic',
       'Others (stones, ceramic, rubber, etc.)'], dtype=object)

In [6]:
df1[df1['waste_type'] == 'Plastics']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
2,Plastics,762700,59500.0,822200,0.07,2016
17,Plastics,766800,57800.0,824600,0.07,2015
32,Plastics,789000,80000.0,869000,0.09,2014
47,Plastics,741100,91100.0,832200,0.11,2013
62,Plastics,721300,82100.0,803400,0.10,2012
77,Plastics,656000,77000.0,733000,0.11,2011
92,Plastics,662300,78100.0,740400,0.11,2010
107,Plastics,628600,60300.0,688900,0.09,2009
122,Plastics,623200,61200.0,684400,0.09,2008
137,Plastics,584800,75000.0,659800,0.11,2007
152,Plastics,579000,77800.0,656800,0.12,2006
167,Plastics,588800,86000.0,674800,0.13,2005
182,Plastics,609000,74100.0,683100,0.11,2004
197,Plastics,540800,39100.0,579900,0.07,2003

In [7]:
df1[df1['waste_type'] == 'Plastic']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
221,Plastic,763400,51800.0,815200,0.06,2017

In [8]:
df1[df1['waste_type'] == 'Ferrous metal']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
6,Ferrous metal,6000,1351500.0,1357500,0.99,2016
21,Ferrous metal,15200,1333300.0,1348500,0.99,2015
36,Ferrous metal,57000,1388900.0,1445900,0.96,2014
211,Ferrous metal,7800,1371000.0,1378800,0.99,2017

In [9]:
df1[df1['waste_type'] == 'Ferrous Metal']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
51,Ferrous Metal,46800,1369200.0,1416000,0.97,2013
66,Ferrous Metal,54800,1331200.0,1386000,0.96,2012
81,Ferrous Metal,67600,1171600.0,1239200,0.95,2011
96,Ferrous Metal,67100,1127500.0,1194600,0.94,2010
111,Ferrous Metal,65800,806200.0,872000,0.92,2009
126,Ferrous Metal,49800,735000.0,784800,0.94,2008
141,Ferrous Metal,68500,668000.0,736500,0.91,2007

In [10]:
df1[df1['waste_type'] == 'Ferrous Metals']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
156,Ferrous Metals,68500,657400.0,725900,0.91,2006
171,Ferrous Metals,69200,749100.0,818300,0.92,2005
186,Ferrous Metals,70300,649900.0,720200,0.90,2004
201,Ferrous Metals,57700,799000.0,856700,0.93,2003

In [11]:
df1[df1['waste_type'] == 'Non-ferrous metal']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
7,Non-ferrous metal,1300,95900.0,97200,0.99,2016
22,Non-ferrous metal,19600,160400.0,180000,0.89,2015
37,Non-ferrous metal,23700,94700.0,118400,0.80,2014

In [12]:
df1[df1['waste_type'] == 'Non-ferrous Metals']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
52,Non-ferrous Metals,21100,114000.0,135100,0.84,2013
67,Non-ferrous Metals,25200,97300.0,122500,0.79,2012
82,Non-ferrous Metals,14500,102800.0,117300,0.88,2011
97,Non-ferrous Metals,12400,73100.0,85500,0.85,2010
112,Non-ferrous Metals,10100,47500.0,57600,0.82,2009
127,Non-ferrous Metals,13000,72000.0,85000,0.85,2008
142,Non-ferrous Metals,16700,75600.0,92300,0.82,2007
157,Non-ferrous Metals,16000,70700.0,86700,0.82,2006
172,Non-ferrous Metals,14700,74700.0,89400,0.84,2005
187,Non-ferrous Metals,15100,71800.0,86900,0.83,2004
202,Non-ferrous Metals,18100,75800.0,93900,0.81,2003

In [13]:
df1[df1['waste_type'] == 'Non-ferrous metals']

,waste_type,waste_disposed_of_tonne,total_waste_recycled_tonne,total_waste_generated_tonne,recycling_rate,year
213,Non-ferrous metals,1500,92200.0,93700,0.98,2017

In [14]:
df1 = df1[df1['waste_type'].isin([ 'Glass', 
                                  'Plastics', 'Plastic',
                                  'Ferrous metal', 'Ferrous Metal', 'Ferrous Metals',
                                  'Non-ferrous metal', 'Non-ferrous Metals', 'Non-ferrous metals'])]

In [15]:
df1['waste_type'].unique()

array(['Plastics', 'Ferrous metal', 'Non-ferrous metal', 'Glass',
       'Ferrous Metal', 'Non-ferrous Metals', 'Ferrous Metals',
       'Non-ferrous metals', 'Plastic'], dtype=object)

In [16]:
df1 = df1[df1['year'].isin([2015, 2016, 2017])]

In [17]:
df1 = df1.loc[:, ['waste_type', 'total_waste_recycled_tonne', 'year']]

In [18]:
df1

             waste_type  total_waste_recycled_tonne  year
2              Plastics                     59500.0  2016
6         Ferrous metal                   1351500.0  2016
7     Non-ferrous metal                     95900.0  2016
10                Glass                     14700.0  2016
17             Plastics                     57800.0  2015
21        Ferrous metal                   1333300.0  2015
22    Non-ferrous metal                    160400.0  2015
25                Glass                     14600.0  2015
211       Ferrous metal                   1371000.0  2017
213  Non-ferrous metals                     92200.0  2017
218               Glass                     12400.0  2017
221             Plastic                     51800.0  2017

# Recycling statistics per waste type for the period 2018 to 2019

In [19]:
df2 = pd.read_csv('datasets/2018_2019_waste.csv')
df2.head()

,Waste Type,Total Generated ('000 tonnes),Total Recycled ('000 tonnes),Year
0,Construction& Demolition,1440,1434,2019
1,Ferrous Metal,1278,1270,2019
2,Paper/Cardboard,1011,449,2019
3,Plastics,930,37,2019
4,Food,7440,136,2019

In [20]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 4 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Waste Type                     30 non-null     object
 1   Total Generated ('000 tonnes)  30 non-null     int64
 2   Total Recycled ('000 tonnes)   30 non-null     int64
 3   Year                           30 non-null     int64
dtypes: int64(3), object(1)
memory usage: 1.1+ KB

- There are not missing values

In [21]:
df2['Waste Type'].unique()

array(['Construction& Demolition', 'Ferrous Metal', 'Paper/Cardboard',
       'Plastics', 'Food', 'Wood', 'Horticultural', 'Ash & Sludge',
       'Textile/Leather', 'Used Slag', 'Non-Ferrous Metal', 'Glass',
       'Scrap Tyres', 'Others (stones, ceramic, rubber, ect)', 'Overall'],
      dtype=object)

In [22]:
df2['Year'].unique()

array([2019, 2018], dtype=int64)

In [23]:
df2 = df2[df2['Waste Type'].isin([ 'Glass', 'Plastics', 'Ferrous Metal', 'Non-Ferrous Metal'])]

In [24]:
df2['Waste Type'].unique()

array(['Ferrous Metal', 'Plastics', 'Non-Ferrous Metal', 'Glass'],
      dtype=object)

In [25]:
df2 = df2.loc[:, ['Waste Type', "Total Recycled ('000 tonnes)", 'Year']]

In [26]:
df2.rename(columns = {'Waste Type': 'waste_type', "Total Recycled ('000 tonnes)":'total_waste_recycled_tonne', 'Year': 'year'}, inplace=True)

In [27]:
df2['total_waste_recycled_tonne'] = df2['total_waste_recycled_tonne']*1000
df2

           waste_type  total_waste_recycled_tonne  year
1       Ferrous Metal                     1270000  2019
3            Plastics                       37000  2019
10  Non-Ferrous Metal                      124000  2019
11              Glass                       11000  2019
16      Ferrous Metal                      126000  2018
18           Plastics                       41000  2018
25  Non-Ferrous Metal                      170000  2018
26              Glass                       12000  2018

# Estimations of the amount of energy saved per waste type in kWh

In [28]:
df3 = pd.read_csv('datasets/energy_saved.csv')
df3

,The table gives the amount of energy saved in kilowatt hour (kWh) and the amount of crude oil (barrels) by recycling 1 metric tonne (1000 kilogram) per waste type,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,1 barrel oil is approximately 159 litres of oil,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,material,Plastic,Glass,Ferrous Metal,Non-Ferrous Metal,Paper
3,energy_saved,5774 Kwh,42 Kwh,642 Kwh,14000 Kwh,4000 kWh
4,crude_oil saved,16 barrels,NaN,1.8 barrels,40 barrels,1.7 barrels

## Concatenate DataFrames

In [29]:
df = pd.concat([df1, df2], axis=0)
df

             waste_type  total_waste_recycled_tonne  year
2              Plastics                     59500.0  2016
6         Ferrous metal                   1351500.0  2016
7     Non-ferrous metal                     95900.0  2016
10                Glass                     14700.0  2016
17             Plastics                     57800.0  2015
21        Ferrous metal                   1333300.0  2015
22    Non-ferrous metal                    160400.0  2015
25                Glass                     14600.0  2015
211       Ferrous metal                   1371000.0  2017
213  Non-ferrous metals                     92200.0  2017
218               Glass                     12400.0  2017
221             Plastic                     51800.0  2017
1         Ferrous Metal                   1270000.0  2019
3              Plastics                     37000.0  2019
10    Non-Ferrous Metal                    124000.0  2019
11                Glass                     11000.0  2019
16        Ferrous Metal                    126000.0  2018
18             Plastics                     41000.0  2018
25    Non-Ferrous Metal                    170000.0  2018
26                Glass                     12000.0  2018

## Name refactoring

In [30]:
def names(name):
    if name == 'Ferrous metal':
        name = 'Ferrous Metal'
    elif (name == 'Non-ferrous metal') or (name == 'Non-ferrous metals'):
        name = 'Non-Ferrous Metal'
    elif name == 'Plastic':
        name = 'Plastics'
    return name

In [31]:
df['waste_type'] = df['waste_type'].apply(names)

In [32]:
df

            waste_type  total_waste_recycled_tonne  year
2             Plastics                     59500.0  2016
6        Ferrous Metal                   1351500.0  2016
7    Non-Ferrous Metal                     95900.0  2016
10               Glass                     14700.0  2016
17            Plastics                     57800.0  2015
21       Ferrous Metal                   1333300.0  2015
22   Non-Ferrous Metal                    160400.0  2015
25               Glass                     14600.0  2015
211      Ferrous Metal                   1371000.0  2017
213  Non-Ferrous Metal                     92200.0  2017
218              Glass                     12400.0  2017
221           Plastics                     51800.0  2017
1        Ferrous Metal                   1270000.0  2019
3             Plastics                     37000.0  2019
10   Non-Ferrous Metal                    124000.0  2019
11               Glass                     11000.0  2019
16       Ferrous Metal                    126000.0  2018
18            Plastics                     41000.0  2018
25   Non-Ferrous Metal                    170000.0  2018
26               Glass                     12000.0  2018

In [33]:
df['waste_type'].unique()

array(['Plastics', 'Ferrous Metal', 'Non-Ferrous Metal', 'Glass'],
      dtype=object)

## Energy Calculation

In [34]:
def energy(waste):
    if waste[0] == 'Plastics':
        saved = waste[1] * 5774
    elif waste[0] == 'Ferrous Metal':
        saved = waste[1] * 642
    elif waste[0] == 'Non-Ferrous Metal':
        saved = waste[1] * 14000
    else:
        saved = waste[1] * 42
    return saved

In [35]:
df['total_energy_saved'] = df[['waste_type', 'total_waste_recycled_tonne']].apply(energy, axis=1)

In [36]:
df

            waste_type  total_waste_recycled_tonne  year  total_energy_saved
2             Plastics                     59500.0  2016        3.435530e+08
6        Ferrous Metal                   1351500.0  2016        8.676630e+08
7    Non-Ferrous Metal                     95900.0  2016        1.342600e+09
10               Glass                     14700.0  2016        6.174000e+05
17            Plastics                     57800.0  2015        3.337372e+08
21       Ferrous Metal                   1333300.0  2015        8.559786e+08
22   Non-Ferrous Metal                    160400.0  2015        2.245600e+09
25               Glass                     14600.0  2015        6.132000e+05
211      Ferrous Metal                   1371000.0  2017        8.801820e+08
213  Non-Ferrous Metal                     92200.0  2017        1.290800e+09
218              Glass                     12400.0  2017        5.208000e+05
221           Plastics                     51800.0  2017        2.990932e+08
1        Ferrous Metal                   1270000.0  2019        8.153400e+08
3             Plastics                     37000.0  2019        2.136380e+08
10   Non-Ferrous Metal                    124000.0  2019        1.736000e+09
11               Glass                     11000.0  2019        4.620000e+05
16       Ferrous Metal                    126000.0  2018        8.089200e+07
18            Plastics                     41000.0  2018        2.367340e+08
25   Non-Ferrous Metal                    170000.0  2018        2.380000e+09
26               Glass                     12000.0  2018        5.040000e+05

In [37]:
annual_energy_savings = df.groupby('year').sum()['total_energy_saved'].to_frame()

## Final DataFrame

In [38]:
annual_energy_savings

      total_energy_saved
year
2015        3.435929e+09
2016        2.554433e+09
2017        2.470596e+09
2018        2.698130e+09
2019        2.765440e+09